<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <a href="/">Home</a>
    
    {% for message in messages %}
        {{message}}
    {% endfor %}
    
</head>
<body>
    <br><br>
    <form action="/auth/login/change_pw" method="post">
        {% csrf_token %}
        <input type="password" placeholder=".........................." name="current_pw"> :Current password <br>
        <input type="password" placeholder=".........................." name="password1">  :New password <br>
        <input type="password" placeholder=".........................." name="password2">  :Confirm password <br><br>
        <input type="Submit" value="Update">
    </form>
    

</body>
</html>