<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process request</title>
    <a href="/">Home</a>
    <h4>Process request page</h4>

    {% for message in messages %}
     {{message}}<br>
    {% endfor %}

</head>
<body>

    <h5>You have the following notifications:</h5>

        {% for request_obj in requests %}

            - <a href="/services/process_request/{{request_obj.cus_id}}" >{{ request_obj.item_name}}
              </a> -------- Amount: {{ request_obj.item_amount }}<br>
            
        {% endfor %}

</body>
</html>